<nav class="footer-nav">
  <a href="/">Home</a> • <a href="/blog">Blog</a> • <a href="https://status.hazie.cloud">Status</a> • <a
    href="https://github.com/KannaDev/hazie.uk">Source Code</a>
</nav>
